<nav class="navbar">
    <div class="nav-logo">
        <a href="/">MyApp</a>
    </div>
    <ul class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="/services">Our Services</a></li>
        <li><a href="/contact">Contact Us</a></li>
    </ul>
</nav>