<%- include('partials/header', { pageTitle: pageTitle }) %>

<main>
    <h1>Welcome to Our Home Page!</h1>
    <p>This is the main landing page of our application. We are glad to have you here.</p>
    <p>Our services are available during working hours: Monday to Friday, 9 AM to 5 PM.</p>
    <img src="/Images/pexels-photo-546819.webp" style="max-width:100%; height:auto; margin-top: 20px;">
</main>

<%- include('partials/footer') %>